<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>

    </style>
</head>

<body>
    <div id="app">
        <h3>班级成员</h3>
        <ul>
            <li v-for="(item,index) in list">
                <span>姓名:{{item.name}}</span>
                <span>性别: {{item.sex}}</span>
                <button @click="detail(item)">详情</button>
                <button @click="del(index)">删除</button>
            </li>
        </ul>
        <input type="text" v-model="name">
        <select v-model="sex">
            <option :value="item" v-for="(item,index) in sexArr">{{item}}</option>
        
        </select>
        <button @click="btnClick">提交</button>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            name: "",
            sex: "男",
            list: [],
            sexArr: ["男", "女"],
        },
        methods: {
            btnClick() {
                this.list.push({
                    name: this.name,
                    sex: this.sex,
                })
            },
            detail(item) {
                alert("姓名:" + item.name + "性别:" + item.sex)
            },
            del(ind) {
                this.list.splice(ind)
            }
        }

    })
</script>

</html>